if SHIELD_CORNE36W_LEFT

config ZMK_KEYBOARD_NAME
	default "corne36w"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CORNE36W_LEFT || SHIELD_CORNE36W_RIGHT

config ZMK_SPLIT
	default y

endif
